{{! Footer partial }}
<footer role="contentinfo" class="layout__footer resonance__footer">
    <section>&copy; {{date format="YYYY"}} <a href="{{@blog.url}}/">{{@blog.title}}</a> &mdash; All rights reserved. Design by <a href="mailto:jonathan@psychopompllc.com">Psychopomp.</a></section>
</footer>

